.section {
    &.hero {
        .logo {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        position: relative;
        color: white;
        background: #cb2d3e;
        // background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);
        // background: linear-gradient(to right, #ef473a, #cb2d3e);
        span {
            display: grid;
        }
        .wave {
            position: absolute;
            bottom: 0;
            width: 100%;
            .svg {
                display: block;
            }
        }
        .hero-button {
            color: #2d3136;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#ecef3c), to(#d5db1c));
            background-image: -webkit-linear-gradient(top, #ecef3c 0%, #d5db1c 100%);
            background-image: -o-linear-gradient(top, #ecef3c 0%, #d5db1c 100%);
            background-image: linear-gradient(180deg, #ecef3c 0%, #d5db1c 100%);
            -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
            min-width: 60px;
            height: 50px;
            line-height: 50px;
            padding: 0 1.875rem;
            border-radius: 5px;
            font-weight: 500;
            text-align: center;
            position: relative;
            -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
            -o-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
            transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
            z-index: 1;
            text-decoration: none;
            display: inline-block;
            font-size: 18px;
        }
        .phone {
            text-align: center;
            z-index: 3;
            img {
                max-height: 510px;
                margin-bottom: 60px;
            }
        }
    }
    &.faq {
        a {
            text-decoration: none;
            color: black;
        }
    }
    &.footer {
        color: #818992;
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        p {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        a {
            color: black;
            text-decoration: none;
        }
    }
}